<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>OcFramework - Home</title>
<link rel="icon" href="../../../../common/image/favicon.ico" th:href="@{/resource/common/image/favicon.ico}">
<link rel="stylesheet" href="../../common/css/easyUI/easyui.css" th:href="@{/resource/common/css/easyUI/easyui.css}">
<link rel="stylesheet" href="../../common/css/easyUI/icon.css" th:href="@{/resource/common/css/easyUI/icon.css}">
<link rel="stylesheet" href="../../common/css/ocFramework/ocFramework.css" th:href="@{/resource/common/css/ocFramework/ocFramework.css}">
<link rel="stylesheet" href="home.css" th:href="@{/resource/template/basic/easyUI/home/home.css}">
</head>

<body class="easyui-layout">
    <div data-options="region:'north'" class="north-layout">
        <img alt="Home" src="../../../../common/image/logo.png" th:src="@{/resource/common/image/logo.png}" class="logo-image">
    </div>
    <div data-options="region:'west'" class="west-layout">
        <ul id="menuTree" class="easyui-tree">
            <li th:each="menu : ${menus}">
                <span th:text="${menu.menu_name}">小书库</span>
            </li>
        </ul>
    </div>
    <div data-options="region:'center'" class="center-layout">
        <table class="easyui-datagrid" style="height:50%" data-options="fitColumns:true,pagination:true">
            <thead>
                <tr>
                    <th data-options="field:'code',width:100">Code</th>
                    <th data-options="field:'name',width:100">Name</th>
                    <th data-options="field:'price',width:100">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td><td>name1</td><td>3333</td>
                </tr>
                <tr>
                    <td>002</td><td>name2</td><td>4612</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <script type="text/javascript" src="../../common/js/jquery/jquery-3.1.1.js" th:src="@{/resource/common/js/jquery/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../../common/js/easyUI/jquery.easyui.min.js" th:src="@{/resource/common/js/easyUI/jquery.easyui.min.js}"></script>
    <script type="text/javascript" src="../../common/js/easyUI/easyui-lang-zh_CN.js" th:src="@{/resource/common/js/easyUI/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    	window.pageContext = /*[[${pageContext}]]*/ undefined;
    </script>
</body>
</html>